.category-list {
  margin: 38px 0 44px 0;
  white-space: nowrap;
  overflow-x: auto;
}

.category-list::-webkit-scrollbar {
  width: 20px;
}

.category-list::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

.category-list::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid transparent;
  background-clip: content-box;
  background-color: #d5c2c2;
}

.btn-category:not(:first-child) {
  margin-left: 8px;
}
