.text-primary {
  color: #7fb640 !important;
}

.text-gray {
  color: #333949 !important;
}

.text-black {
  color: #000000 !important;
}

.block {
  display: block !important;
}

.ml-6 {
  margin-left: 6px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-12 {
  margin-right: 12px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pr-24 {
  padding-right: 24px !important;
}
