:root {
  --color-primary: #7fb640;
  --text-primary: #333949;

  --jade-green-color: #249371;
  --turquoise-color: #00cc9b;
  --purple-color: #8c2285;
  --green-color: #598f1b;
  --green-bold: #289b15;
  --gold-color: #c09515;
  --blue-color: #0e78a5;
  --black-color: #000000;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-full {
  height: 100%;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mb-42 {
  margin-bottom: 42px !important;
}

.relative {
  position: relative;
}

.btn-small {
  padding: 8px 14px;
}

.btn {
  padding: 11px 24px;
  border-radius: 32px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.btn-primary {
  background-color: #7fb640;
}

.btn-turquoise {
  background-color: #00cc9b;
}

.btn-gold {
  background-color: #a69605;
}

.btn-brown {
  background-color: #a7330a;
}

.btn-blue {
  background-color: #107b8c;
}

.btn-category {
  display: inline-block;
  padding: 11px 24px;
  border-radius: 32px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-gray {
  background: #f1f1f1;
  color: #333949;
}

.header-banner {
  background-color: #289b15;
  height: 44px;

  //   text-transform: uppercase;
  //   font-weight: 700;
  //   color: #fff;
  &__container {
    position: relative;
    max-width: 1116px;
    margin: 0 auto;
  }

  &__img {
    position: absolute;
    top: -4px;
    left: -160px;
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 7px;
    padding: 9px 14px;
    background: #00cc9b;
    border-radius: 32px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    text-shadow: 2px 2px #00000025;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background: #32dbb4;
    }
  }
}

.header-function {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 164px;
}

.header-search {
  position: relative;
  &__input {
    padding: 12px 22px;
    width: 450px;
    height: 40px;
    border: 1px solid #7fb640;
    border-radius: 8px;
    &:focus {
      border: 1px solid #7fb640;
    }
  }
  &__icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.header-list-btn {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.header-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.header-heart-btn {
  background-color: #e2f8d4;
}

.header-cart-btn {
  background-color: #d4f3f8;
}

.header-amount {
  position: absolute;
  top: -5px;
  left: 22px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 14px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.header-heart-amount {
  background: #6cab43;
}

.header-cart-amount {
  background: #107b8c;
}

.header-navbar {
  height: 66px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-weight: 700;
  }
  & ul {
    display: inline-block;
    margin-left: 30px;
  }
  & li {
    display: inline-block;
    margin-left: 42px;
    cursor: pointer;
  }
  &__btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 40px;
    background-color: #7fb640;
    border-radius: 8px;
    color: #fff;
    padding: 0 20px;
  }

  &__support {
    display: flex;
    align-items: center;
    text-align: center;
    &-phone {
      font-weight: 700;
      font-size: 20px;
      color: #7fb640;
    }
    &-desc {
      font-weight: 400;
      font-size: 12px;
      color: #000000;
      margin-top: 6px;
    }
  }
}
